/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #00453e;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 100px;
    background: url(images/amazon_logo.png) center/cover no-repeat;
}

.nav-address {
    display: flex;
    align-items: center;
    color: #cccccc;
    font-size: 1rem;
}

.nav-search {
    display: flex;
    align-items: center;
    background-color: pink;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.search-select {
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input {
    flex: 1;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}

.nav-signin,
.nav-return,
.nav-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.86rem;
    font-weight: 700;
}

/* Panel Styles */
.panel {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #195851;
    color: white;
    justify-content: space-evenly;
}

.panel-ops a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero Section Styles */
.hero-section {
    background-image: url("images/Copy of hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: #0f1111;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007582;
    text-decoration: none;
}

/* Shop Section Styles */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007582;
}

/* Footer Styles */
footer {
    margin-top: 15px;
}

.foot-panel {
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: #ffffff;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4 {
    background-color: #0f1111;
    color: #ffffff;
    height: 90px;
    text-align: center;
    font-size: 0.7rem;
}

.pages {
    padding-top: 25px;
}

.copyright {
    text-align: center;
}

/* Responsive Styles */

/* Tablet Styles */
@media only screen and (max-width: 1024px) {
    .nav-search {
        width: 100%;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-search {
        width: 100%;
    }
}

/* Additional Styles for Smaller Mobile Devices */
@media only screen and (max-width: 480px) {
    /* Add more responsive styles as needed for smaller mobile devices */
}
