*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

html{
    scroll-behavior: smooth;
}

/** NavBar starts here**/
.navbar{
    height: 60px;
    background-color: #00453e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/** NavBar logo starts here**/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
    padding: 8px;
}

/** NavBar logo ends here**/
/** NavBar Address starts here**/

.add-1{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 4px;
}
.add-2{
    font-size: 1rem;
    margin-left: 4px;
}
.icon{
    display: flex;
    align-items: center;
}

/** NavBar Address ends here**/
/** NavBar Search bar starts here**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/** NavBar Search bar ends here**/
/** NavBar Signin & Returns starts here**/

span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/** NavBar Signin & Returns  ends here**/


.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.86rem;
    font-weight: 700;
}

/** NavBar panel starts here**/


.panel{
    height: 40px;
    background-color: #195851;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops a {
    display: inline;
    margin-left: 10px;
    color: white;
    text-decoration: none;

}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** NavBar panel ends here**/
/** NavBar hero section starts here**/

/* .hero-section{
    background-image: url("images/Amz_slide2.jpg");
    height: 300px;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
     background-color: white;
     color: #0f1111;
     width: 80%;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 0.85rem;
     margin-bottom: 25px;

}

.hero-msg a{
    color: #007582;
    text-decoration: none;

} 
*/
.sec-1 {
    position: relative;
    width: 100%;
    height: 560px; /* Adjusted height for the container */
    box-sizing: border-box;
  }
  
  .slide img {
    height: 100%;
    width: 1360px;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 560px;
  }
  
  .image-box {
    display: flex;
    position: absolute;
    animation: carousel 15s linear infinite; /* Changed to linear timing function */
  }
  @keyframes carousel {
    0%, 16.666% {
      transform: translateX(0);
    }
    16.667%, 33.333% {
      transform: translateX(-1360px); /* One image width */
    }
    33.334%, 50% {
      transform: translateX(-1360px * 2); /* Two image widths */
    }
    50.001%, 66.666% {
      transform: translateX(-1360px * 3); /* Three image widths */
    }
    66.667%, 83.333% {
      transform: translateX(-1360px * 4); /* Four image widths */
    }
    83.334%, 100% {
      transform: translateX(-1360px * 5); /* Five image widths */
    }
  }
  
  
/** NavBar hero-section ends here**/
/** NavBar  shop-section starts here**/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.custom-box {
    height: auto;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.custom-image-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;
    text-align: center;
}

.custom-box-item {
    display: flex;
    flex-direction: column;
}

.custom-box-img {
    height: 100px;
    width: 120px;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 0.5rem;
}

.custom-box-text {
    color: #007582;
    font-size: 14px;
    margin: 0;
}


.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content p{
    color: #007582;
}
/** NavBar shop-section ends here**/
/** NavBar footer starts here**/

footer{
    margin-top: 15px;
}

.foot-panel{
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel a{
    text-decoration: none;
    color: #ffffff;


}

.foot-panel2{
    background-color: #222f3d;
    color: #ffffff;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

.foot-panel2 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px; 
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px; 
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: #ffffff;
    height: 90px;
    text-align: center;
    font-size: 0.7rem;
}

.pages{
    padding-top: 25px;
}

.copyright{
    text-align: center;
}
/** NavBar footer ends here**/



@media screen and (min-width: 300px) and (max-width: 1238px){
    .shop-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    
    }
  
}





